
:root{
    --szurke : rgb(70, 70, 70);
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
    padding:1rem;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.lista{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: min(20rem, 80%);
    margin-inline: auto;
    padding-inline: 1em;
}
.elem{
    width: 100%;
    padding-block: 1em;
    border-bottom: 2px dotted gray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.sav{
    position: fixed;
    left:0;
    bottom: 0;
    right: 0;
}
.bevitel{
    grid-column: 2 / 3;
    border: 3px solid var(--szurke);
    font-size: 1.5em;
    margin-inline: auto;
    width: min(100%, 40rem);
    display:grid;
    text-align: center;
}
@media screen and (min-width: 500px) {
    .bevitel{
        grid-template-columns: 2fr 1fr;
    }
}

.bevitel > input{
    font-size: .8em;
    padding-inline:1em;
    border: 0;
}
.bevitel > input:focus{
    outline: none;
}
.elem{
    display: grid;
    grid-template-columns: 2em 1fr 2em;
}
input:checked ~ .szoveg{
    text-decoration: line-through;
}
input[type="checkbox"]{
    margin:0;
}
#hozzaad{
    margin:0;
    color: white;
    background: var(--szurke);
    font-weight: bold;
    text-align: center;
    border-inline: 3px solid var(--szurke);
}
#hozzaad:hover{
    color: var(--szurke);
    background: rgb(224, 224, 224);
}
span{
    user-select: none;
}
.x:hover{
    color: tomato;
}
label[for="eltuntet"]{
    margin-left: 1em;
}
#torolhakesz{
    box-sizing: border-box;
    float: right;
    padding-block: .2em;
    padding-inline: .8em;
    color: white;
    background: var(--szurke);
    font-weight: bold;
    border: 3px solid var(--szurke);
}
#torolhakesz:hover{
    color: var(--szurke);
    background: rgb(224, 224, 224);
    border: 3px solid var(--szurke);
}